In [39]:
from updateRatings import get_game_outcomes#, display_rating

import pandas as pd

from trueskill import Rating, rate_1vs1

ImportError: cannot import name 'display_rating' from 'updateRatings' (c:\Users\rappfarnes john\OneDrive - The Boston Consulting Group, Inc\Documents\GitHub\OfficeRankings\updateRatings.py)

In [ ]:
def display_rating(rating):
    return rating.mu - 3 * rating.sigma

In [11]:
game_outcomes = get_game_outcomes()
game_outcomes

           Timestamp Player A Player B       Game    Winner
0  3/7/2023 14:27:50     John    Oscar  Ping pong  Player A
1  3/7/2023 14:27:50     John    Oscar  Ping pong  Player A
2  3/7/2023 14:27:50    Oscar     John  Ping pong  Player B
3  3/7/2023 14:27:50     John    Oscar  Ping pong  Player A
4  3/7/2023 14:27:50     John    Oscar      Chess  Player A
5  3/7/2023 14:27:50    Oscar     John      Chess  Player B
6  3/7/2023 14:27:50     John    Oscar      Chess  Player A

In [43]:
game_types = game_outcomes.Game.unique()

for game in game_types:
    outcomes = game_outcomes[game_outcomes.Game == game]

    players = pd.concat([outcomes['Player A'], outcomes['Player B']]).unique()

    player_ratings = {}

    for player in players:
        player_ratings[player] = Rating()

    for i, outcome in outcomes.iterrows():
        pA = outcome['Player A']
        pB = outcome['Player B']

        player_ratings[pA], player_ratings[pB] = rate_1vs1(player_ratings[pA], player_ratings[pB])

    print(player_ratings)

{'John': trueskill.Rating(mu=27.415, sigma=4.873), 'Oscar': trueskill.Rating(mu=22.585, sigma=4.873)}
{'John': trueskill.Rating(mu=27.085, sigma=5.261), 'Oscar': trueskill.Rating(mu=22.915, sigma=5.261)}