In [5]:
from db import get_game_outcomes, write_player_ratings
from player_ratings import calculate_player_ratings

import pandas as pd

In [6]:
game_outcomes = get_game_outcomes()
game_outcomes

           Timestamp Player A Player B       Game    Winner
0  3/7/2023 14:27:50     John    Oscar  Ping pong  Player A
1  3/7/2023 14:27:50    Oscar     John  Ping pong  Player A
2  3/7/2023 14:27:50     John    Oscar  Ping pong  Player B
3  3/7/2023 14:27:50    Oscar     John  Ping pong  Player A
4  3/7/2023 14:27:50     John    Oscar      Chess  Player A
5  3/7/2023 14:27:50    Oscar     John      Chess  Player B
6  3/7/2023 14:27:50     John    Oscar      Chess  Player A

In [7]:
player_ratings = calculate_player_ratings(game_outcomes)

player_ratings

        Game Player  Rating
0  Ping pong   John     983
1  Ping pong  Oscar    1239
0      Chess   John    1130
1      Chess  Oscar     713

In [8]:
write_player_ratings(player_ratings)